body{
    background-color: white;
}

#page_content{
    margin-top: 5%;
}
#navigation-sidebar{
    z-index: 99;
}
#roulette-wheel{
    z-index: 99;
    width: 80%;
    
    margin-left: 10%;

    /* border-width: 0.2vw;
    border-style: solid;
    border-color: lightgoldenrodyellow; */

    padding: 1%;
}
#roulette-triangle{

    margin-top: 0.25%;
    margin-left: 49.6%;

    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid gold;
    
    height: 0;
    width: 0;
}
#betting-controls{
    margin-left: 35%;
    width: 30%;
    margin-top: 3%;
}

#color-alternatives{
    margin-top: 5%;
    text-align: center;
}
#bet-amount-controlls{
    text-align: center;
}

#color-label{
    text-align: center;
    color: darkgrey;
    margin-top: 4%;
}
.checked{
    border-style: solid;
    border-width: 3px;
    border-color: gold;
}

.bet-table{
    display: inline-block;

}
.bet-header thead tr th{
    padding-left: 6vw;
    padding-right: 6vw;
    
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
 
    border-radius: 0.5vw;

    color: white;
    font-weight: 200;
}

#bet-tables{
    margin-top: 2%;
    text-align: center;
}

#red-table{
    margin-left: 10%;
    float: left;
}
#black-table{
    margin-right: 10%;
    float: right;
}
#green-table{
    float: middle;      
}

#red-header thead tr th{
    background-color: red;
}
#green-header thead tr th{
    background-color: green;
}
#black-header thead tr th{
    background-color: black;
}

.player-bet-table{
    border-collapse: collapse;
    width: 100%;
}

.player-bet-table tr th{
    font-weight: 100;   
    border-bottom: 1px solid #ddd;     
}

.player-bet-table tr th, td{
    padding-left: 1.5vw;
    padding-right: 1.5vw;

    text-align: left;
}
#countdown-bar{
    width: 50%;
    height: 8px;

    margin-left: 25%;
}