<!DOCTYPE html>
<html>
<head>
    <title>{{template_data.name}}</title>

    <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.min.css') }}">

    <link rel="stylesheet" href="{{ url_for('static',filename='css/owl.carousel.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/owl.theme.default.min.css') }}">

    <link rel="stylesheet" href="{{ url_for('static',filename='css/home_page.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/roulette_numbers.css') }}">

    <script src="https://cdn.rawgit.com/kimmobrunfeldt/progressbar.js/0.5.6/dist/progressbar.js"></script>

    <script src="{{ url_for('static',filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>

    <script src="{{ url_for('static',filename='js/owl.carousel.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/roulette_script.js') }}"></script>

    <script src="{{ url_for('static',filename='js/betting_controlls.js') }}"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.dev.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <script src="{{ url_for('static',filename='js/home_page_socketio.js') }}"></script>

</head>
{% include "navigation_bar.html" %}
<body id="{{ template_data.url }}">
    <div id="page_content">
        <div id="roulette-wheel">
            <div class="owl-carousel owl-theme">
                <div class="item-green element-roulette" data-item="3"><h4>0</h4></div>
                <div class="item-red element-roulette" data-item="1"><h4>1</h4></div>
                <div class="item-black element-roulette" data-item="2"><h4>8</h4></div>
                <div class="item-red element-roulette" data-item="1"><h4>2</h4></div>
                <div class="item-black element-roulette" data-item="2"><h4>9</h4></div>
                <div class="item-red element-roulette" data-item="1"><h4>3</h4></div>
                <div class="item-black element-roulette" data-item="2"><h4>10</h4></div>
                <div class="item-red element-roulette" data-item="1"><h4>4</h4></div>
                <div class="item-black element-roulette" data-item="2"><h4>11</h4></div>
                <div class="item-red element-roulette" data-item="1"><h4>5</h4></div>
                <div class="item-black element-roulette" data-item="2"><h4>12</h4></div>
                <div class="item-red element-roulette" data-item="1"><h4>6</h4></div>
                <div class="item-black element-roulette" data-item="2"><h4>13</h4></div>
                <div class="item-red element-roulette" data-item="1"><h4>7</h4></div>
                <div class="item-black element-roulette" data-item="2"><h4>14</h4></div>
            </div>
        <div id="roulette-triangle"></div>
            
        </div>
        
        <div id="countdown-bar"></div>
        
        <div id="betting-controls">
            <div id="bet-amount-controlls">
                <input type="text" id="bet-amount" placeholder="Enter amount"/>
                <button id="bet-button">Bet</button>
            </div>
        </div>


        <div id="bet-tables">

            <div class="bet-table" id="red-table">

                <table class="bet-header" id="red-header" data-value="1">
                    <thead>
                        <tr>
                            <th class="bet-table-head-red">Red  <span>x2</span></th>
                        </tr>
                    </thead>
                </table>

                <table class="player-bet-table" id="red-player-bet-table">
                    <tr>
                        <th>Player</th>
                        <th>Amount</th>
                    </tr>
                </table>    

            </div>

            <div class="bet-table" id="green-table">

                <table class="bet-header" id="green-header" data-value="3">
                    <thead>
                        <tr>
                            <th class="bet-table-head-green">Green  <span>x14</span></th>
                        </tr>
                    </thead>
                </table>

                <table class="player-bet-table" id="green-player-bet-table">
                    <tr>
                        <th>Player</th>
                        <th>Amount</th>
                    </tr>
                </table>   

            </div>

            <div class="bet-table" id="black-table">

                <table class="bet-header" id="black-header" data-value="2">
                    <thead>
                        <tr>
                            <th class="bet-table-head-black">Black <span>x2</span></th>
                        </tr>
                    </thead>
                </table>

                <table class="player-bet-table" id="black-player-bet-table">
                    <tr>
                        <th>Player</th>
                        <th>Amount</th>
                    </tr>
                </table>

            </div>

        </div>
    </div>
</body>
</html>